<html>
    <head>
        <title>Social Bot</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='navbar.css')}}" />

    </head>
    <body>
        <header>

            <div class="navbar">
                <div class="navimage">
                    <img src="../static/Images/3.jpg"/>
                </div>
                <div class="compname">
                    <a href="/" class="a"><h3>SOCIAL BOT</h3> </a> 
                </div>
                <div class="maincontent">
                    <a href="/upload"><h3>Upload </h3></a>&emsp;
                    <a href="/signup"><h3>Signup </h3></a>&emsp;
                    <a href="/user"><h3>User </h3></a>&emsp;
                    <a href="/login"><h3>Admin </h3></a>&emsp;
                </div>
            </div>
        </header>
        <div class="bd">
            <h1>Detection of Malicious Social Bots Using Learning Automata With URL Features in Twitter Network</h1>
            <h3>Determine spam messages</h3>
        </div>
       
    </body>
</html>