<html>
  <head>
    <title>Social Bot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='signup.css')}}" />
    <script type="text/javascript">
      function Register() {  
      // $('#loading').show(0).delay(1000).hide(0,function(){
          alert("Register Successfull");
          window.location = "{{url_for('login')}}";
      };    
      // }
  </script>
  </head>
  <body>
    <div class="compname">
      <a href="/" class="a"><h3>HOME</h3> </a> 
  </div>
  <h4><center>{{msg}}</center></h4>

    <div class="overlay">
      <!-- LOGN IN FORM by Omar Dsoky -->
      <form action = "/register" method = "POST">
         <!--   con = Container  for items in the form-->
         <div class="con">
         <!--     Start  header Content  -->
         <header class="head-form">
            <h2>Sign Up</h2>
            <!--     A welcome message or an explanation of the login form -->
            <p>Signup here using your username, email and password</p>
         </header>
         <!--     End  header Content  -->
         <br>
         <div class="field-set">
           
            <!--   user name -->
               <span class="input-item">
                 <i class="fa fa-user-circle"></i>
               </span>
              <!--   user name Input-->
               <input class="form-input" type="text" placeholder="@UserName" name ="username"  required>
           
            <br>

            <span class="input-item">
                <i class="fa fa-user-circle"></i>
              </span>
             <!--   user name Input-->
              <input class="form-input"  type="text" placeholder="Email" name="email"  required>
          
           <br>
           
                 <!--   Password -->
           
            <span class="input-item">
              <i class="fa fa-key"></i>
             </span>
            <!--   Password Input-->
            <input class="form-input" type="password" placeholder="Password" name="password"  required>          
           
            <br>
      <!--        buttons -->
      <!--      button LogIn -->
            <button class="log-in" type="submit" onclick="Register"> Sign Up </button>
         </div>
        
      <!--   other buttons -->
         <div class="other">
      <!--      Forgot Password button-->
            <!-- <button class="btn submits ">Forgot Password</button><br/> -->
      <!--     Sign Up button -->
            <a href="/user" class="btn submits frgt-pass">Log In
      <!--         Sign Up font icon -->
            <!-- <i class="fa fa-user-plus" aria-hidden="true"></i> -->
            </a>
      <!--      End Other the Division -->
         </div>
           
      <!--   End Conrainer  -->
        </div>
        
        <!-- End Form -->
      </form>
      </div>
  </body>
</html>